/*
 * Source of code https://afeld.github.io/emoji-css/
 * Image location: https://afeld.github.io/emoji-css/emoji/{emoji}.png
 */
.em
  height 1.5em
  width 1.5em
  background-position center
  background-repeat no-repeat
  background-size contain
  display inline-block
  vertical-align middle

  &.em-smiley
    background-image url(/static/em_smiley.png)
