.icon
  display inline-block
  background-repeat no-repeat

  &.icon-remove
    background-image url(/static/icon_remove.png)
  &.icon-search
    background-image url(/static/icon_search.png)
  &.icon-back
    background-image url(/static/icon_back.png)
  &.icon-microphone
    background-image url(/static/icon_microphone.png)
  &.icon-camera
    background-image url(/static/icon_camera.png)

iconSize(size)
  background-size size size
  width size
  height size
